
.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.video {
    flex-basis: 30;
    margin: 50px;
    text-align: center;
}

h3 {
    margin-top: 25px;
    font-size: 35px;
}

@media (max-width: 900px) {
    .video {
        flex-basis: 100%;
    }
}